@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.card {
  position: relative;
  width: 85%;
  background-color: white;
  height: 50vh;
  border-radius: 2rem;
  max-width: 450px;
  max-height: 400px;
  min-height: 350px;
  box-shadow: none;
  transition: all 0.5s; }
  .card:hover {
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.3);
    transform: scale(1.02); }
  @media (min-width: 640px) {
    .card {
      width: 60%; } }
  @media (min-width: 1024px) {
    .card {
      width: 50%; } }
  @media (min-width: 1024px) {
    .card {
      width: 50%; } }
  .card__image {
    height: 35%;
    background: url("/images/bg-pattern-card.svg") no-repeat;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-size: cover; }
  .card__avatar {
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: white;
    padding: 1rem;
    border-radius: 10rem; }
    .card__avatar-image {
      border-radius: 10rem;
      z-index: 50; }
  .card__title {
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 2.4rem; }
    .card__title-span {
      font-weight: 400; }
  .card__location {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 2rem; }
  .card__stats {
    border-top: solid 1px rgba(150, 150, 150, 0.2);
    align-self: start;
    width: 100%;
    margin-top: 5%;
    padding: 2rem;
    display: flex;
    justify-content: space-around; }
    .card__stats div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 700; }
      .card__stats div p {
        font-weight: 400;
        color: #969696; }
  .card .card__titlepart {
    height: 65%;
    width: 100%;
    position: absolute;
    top: 55%;
    display: flex;
    flex-direction: column;
    align-items: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #19a2ae; }
  @media (max-width: 1023px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }

.attribution {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  width: 100%; }
  .attribution a {
    text-decoration: none;
    color: white; }
  @media (min-width: 640px) {
    .attribution {
      font-size: 2rem;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.image__pattern-bottom {
  position: absolute;
  bottom: -20%;
  right: -30%;
  width: 45rem; }
  @media (min-width: 768px) {
    .image__pattern-bottom {
      bottom: -40%;
      right: -10%;
      width: 60rem; } }
  @media (min-width: 1024px) {
    .image__pattern-bottom {
      bottom: -60%;
      right: -10%;
      width: 90rem; } }
  @media (min-width: 1280px) {
    .image__pattern-bottom {
      bottom: -60%;
      right: -10%;
      width: 110rem; } }

.image__pattern-top {
  width: 45rem;
  position: absolute;
  top: -20%;
  left: -30%; }
  @media (min-width: 768px) {
    .image__pattern-top {
      top: -40%;
      left: -10%;
      width: 60rem; } }
  @media (min-width: 1024px) {
    .image__pattern-top {
      top: -40%;
      left: -10%;
      width: 80rem; } }
  @media (min-width: 1280px) {
    .image__pattern-top {
      top: -40%;
      left: -10%;
      width: 100rem; } }
